# Flask temel ayarları
FLASK_APP=run.py
FLASK_ENV=development

# Güvenlik
SECRET_KEY=ec9439cfc6c872ae2029594d

# Veritabanı (MySQL + PyMySQL örneği)
# Kullanıcı adı, şifre ve veritabanı adını ortamınıza göre değiştirin.
DATABASE_URL=mysql+pymysql://root:2993@localhost/schema
