# Django ayarları
DJANGO_SETTINGS_MODULE=config.settings.development
DEBUG=True
SECRET_KEY=change-this-in-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL bağlantı ayarları
DB_NAME=university_db
DB_USER=root
DB_PASSWORD=your_password
DB_HOST=127.0.0.1
DB_PORT=3306
